@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: white;
}

@layer base {
  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply text-xl;
  }

  @font-face {
    font-family: Proxima Nova;
    font-weight: 400;
    src: url(../../assets/fonts/Proxima-Nova-Regular.woff) format('woff');
  }
  @font-face {
    font-family: Proxima Nova;
    font-weight: 500;
    src: url(../../assets/fonts/Proxima-Nova-Bold.woff) format('woff');
  }
}
